<section class="task" [ngClass]="{emergency: task.priority==='4',high: task.priority==='3',medium: task.priority==='2',low: task.priority==='1'}"  *ngIf="task.done==0 && task.duration>0">
  <div class="title" >
    <div class="check">

    </div>
    <h3>{{task.name}}</h3>
  </div>
  <div class="time">
    <h3 *ngIf="!task.time_remaining">{{task.duration}} min</h3>
    <h3 *ngIf="task.time_remaining">{{task.time_remaining}} min</h3>
    <!-- if (!this.task_detail.time_remaining) {

        
      this.time = this.task_detail.duration;
    }else{
      this.time = this.task_detail.time_remaining
    } -->
   
    <a [routerLink]="['/detail/', task.id]" routerLinkActive="active"> <button>Go</button></a>
  </div>
</section>
