@import '../../assets/palette.sass';
.main-container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    div{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        label{
            width: 100%;
            text-align: center;
        }
        input{
            width: 100%;
            height: 30px;
            text-align: center;
            margin-bottom: 3%;

        }
    }
    button{
        width: 100px;
        height: 40px;
        margin-bottom: 2%;
        color: $primary-color-text ;
        background: $primary-color;
    }
}