<div class="container">
  <h1>Create a new task</h1>

  <form action="">
    <fieldset>
      <legend>Info</legend>
      <input type="text" id="name" placeholder="name">
      <input type="number" placeholder="duration" name="duration" id="duration">
      <input type="date" name="dead-line" placeholder="dead line" id="dead-line">
    </fieldset>
    <fieldset>
      <legend>Description</legend>
      <textarea name="description"  id="description" cols="30" rows="10"></textarea>
      <input type="submit" id="submit" value="Add task">
    </fieldset>
      
  </form>
</div>