@import '../../assets/palette.sass';
.container{
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    
    h1{
        width: 60%;
        text-align: center;
    }
    form{

        width: 60%;
        fieldset{
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            border: none;
            // width:90vw;
            border-bottom: solid 1px $divider-color;
            margin-top: 3%;
            #name, #duration, #dead-line{

                width: 100%;
                height: 30px;
                // background: $primary-color-light;
                background: lighten($color: $primary-color-light, $amount: 13);
                border-radius: 5px;
                text-align: center;
                margin: 2% auto;
            }
            #description{
                width: 100%;
                border-radius: 5px;
                border: none;
                background: lighten($color: $primary-color-light, $amount: 13);
            }
            #submit{
                height: 40px;
                width: 160px;
                border-radius: 5px;
                margin: 3% auto;
                background: $primary-color;
                color:#fff;
                font-weight: bold;
            }
        }

    }
}
@media(max-width:500px){
    .container{

        form{
            width: 90%;
        }
    }
}