<section class="task">
  <header>
    <div class="title">
      <div class="check">
  
      </div>
      <h3>Crear Template Principal con tarea muy larga</h3>
    </div>
    <div class="time">
      <h3>30 min</h3>
    </div>
  </header>
  <section class="container">
    <div class="description">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente corrupti, eveniet quasi fugit exercitationem minima 
        libero dolorem eius quia impedit ipsa vel temporibus qui dicta dolore cumque fuga alias magnam!</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente corrupti, eveniet quasi fugit exercitationem minima 
        libero dolorem eius quia impedit ipsa vel temporibus qui dicta dolore cumque fuga alias magnam!</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente corrupti, eveniet quasi fugit exercitationem minima 
        libero dolorem eius quia impedit ipsa vel temporibus qui dicta dolore cumque fuga alias magnam!</p>

    </div>
    <!-- <div class="comments">
      <textarea name="comment" id="comment" cols="30" rows="6" placeholder="Add a comment, a solution, or a question so you can review it later. "></textarea>
      <input type="submit">
    </div>
    <div class="input-container">

       <div class="link-container">
  
          <div class="links">
            <textarea name="link" id="link" cols="25" rows="2" placeholder="Add a link for a solution or useful information"></textarea>
      
          </div>
          <div class="files">
            <input type="file">
          </div>
      </div>
      <div class="imgs">
        <input type="file"  placeholder="drag & drop an image here" >
      </div> 
    </div> -->
  </section>
  <footer>
    <!-- <button class="stop">Stop</button> -->
    <a routerLink="/" routerLinkActive="active"><button>Stop</button></a>
    <!-- <button class="end">Finish</button> -->
    <a  routerLink="/done" routerLinkActive="active"><button class="end">Finish</button></a>
  </footer>
</section>