@import '../../assets/palette.sass';
.emergency{
    //  background: lighten($color:#D32F2F, $amount: 5);
     border-top: 3px solid lighten($color:#D32F2F, $amount: 5);
    }
.high{
    //  background: lighten($color:#F57C00, $amount: 5);
     border-top: 3px solid lighten($color:#F57C00, $amount: 5);
    }
.medium{
    //  background: lighten($color:#FBC02D, $amount: 5);
     border-top: 3px solid lighten($color:#FBC02D, $amount: 5);
    }
.low{
    //  background: lighten($color:#CFD8DC, $amount: 5);
     border-top: 3px solid lighten($color:#CFD8DC, $amount: 5);
    }

.task{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 4%;

    min-height: calc(100% - 140px);
    header{
        display: flex;
        width: 100%;
        .title{
            display: flex;
            flex-flow: row wrap;
            // justify-content: space-around;
            align-items: center;
            width: 80%;
            .check{
                margin: 2%;
                width: 30px;
                height: 30px;
                border: black 2px solid;
            }
            h3{
                display: flex;
                width:80%;
            }
        }
        .time{
            width: 19%;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
        }
    }

    .container{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        .description{
            width: 90%;
        }
        .comments{
            width:90%;
            #comment{
                width: 100%;
            }
        }
        // .input-container{
        //     display: flex;
        //     width: 90%;
        //     flex-flow: row wrap;
        //     justify-content: space-between;

        //     .link-container{
        //         width: 60%;
        //         input{
        //             width: 100%;
        //         }
        //     }
        //     .imgs{
        //         width: 30%;
        //         display: flex;
        //         flex-flow: row wrap;
    
        //         input{
        //             width: 100%;
        //             height: 100%;
        //             border: solid 1px black;
        //             background: url('../../../../img/camera-icon.png') no-repeat center;
        //             background-size: 50%;
        //             text-decoration: none;
    
        //         }
        //     }
        // }
    }

    footer{
        width: 100%;
        display: flex;
        justify-content: space-around;
        a{
            width: 40%;
            display: flex;
            justify-content: center;
            text-decoration: none;
            button{
                width: 100%;
                height: 40px;
              
                border-radius: 10px;
                background: $primary-color;
                font-weight: bold;
                // font-size: 1.2rem;
                color:$primary-color-text;
            }
            .end{
                background: #D32F2F; 
            }
        }
    }
}




   // .time{
        //     width: 19%;
        //     display: flex;
        //     flex-flow: column wrap;
        //     align-items: center;
        //     justify-content: center;
        //     button{
        //         width: 60%;
        //         height: 30px;
        //         border-radius: 10px;
        //         background: $primary-color;
        //         font-weight: bold;
        //         // font-size: 1.2rem;
        //         color:$primary-color-text;
        //     }
    
        // }




@media(max-width:500px){
    .task{
        font-size: .85rem;
        padding: 3%;
        header{
            .title{
                .check{
                    width: 15px;
                    height: 15px;
        
                }
            
            }
        }
    }
    .footer{
        a{
            width: 100%;
            button{
                width: 100%;
                margin-top: 6%;
            }
        }
    }
}