<section class="task" [ngClass]="{emergency: task_detail.priority==='4',high: task_detail.priority==='3',medium: task_detail.priority==='2',low: task_detail.priority==='1'}">
  <header>
    <div class="title">
      <div class="check">
  
      </div>
      <h3>{{task_detail.name}} </h3>
    </div>
    <div class="time">
      <h3>{{time}} min</h3>
    </div>
  </header>
  <section class="container">
    <div class="description">
      <p>{{task_detail.description}}</p>
      

    </div>
    <!-- <div class="comments">
      <textarea name="comment" id="comment" cols="30" rows="6" placeholder="Add a comment, a solution, or a question so you can review it later. "></textarea>
      <input type="submit">
    </div>
    <div class="input-container">

       <div class="link-container">
  
          <div class="links">
            <textarea name="link" id="link" cols="25" rows="2" placeholder="Add a link for a solution or useful information"></textarea>
      
          </div>
          <div class="files">
            <input type="file">
          </div>
      </div>
      <div class="imgs">
        <input type="file"  placeholder="drag & drop an image here" >
      </div> 
    </div> -->
  </section>
  <footer>
    <!-- <button class="stop">Stop</button> -->
    <!-- <a routerLink="/" id="pause" routerLinkActive="active">
    </a> -->
    <a  routerLink="/" id="pause" routerLinkActive="active"> <button  (click)="this.handleDetail(task_detail,this.time,false,'/')" >Pause</button></a>
    <!-- <button class="end">Finish</button> -->
    <a  routerLink="/done" id="stop" routerLinkActive="active"><button (click)="this.handleDetail(task_detail,this.time,true,'/')" class="end">Stop</button></a>
  </footer>
</section>